<%- include('includes/head'); %>
  <%- include('includes/nav') %>

    <main class="main">
      <h1>Produtos Registrados: <span style="font-style: italic;"><%= totalQuantity() %></span></h1>
      <header class="sidebar-header">

        <form class="search-box" action="/products/search" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <input type="text" name="searchProduct" class="search-text" id="" placeholder="Pesquisar...">
          <button class="search-btn" type="submit">
            <i class="material-symbols-outlined loupe-blue">search</i>
          </button>
        </form>
        <button type="button" class="btn btn-outline-dark p-0 filter_box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="material-symbols-outlined">filter_list</i>
          <span>Filtros</span>
        </button>
        <!-- Modal -->

        <!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    
    <form class="modal-content bg-dark" action="/products/categories" method="post">
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>

      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">Escolha uma categoria</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center">
        <div class="wrapper">

          <div class="form-group">
            <input class="radio-index" value="Memoria RAM" name="radioFilter" id="radio1" type='radio' />
            <label for="radio1">Memoria RAM</label>
          </div>

          <div class="form-group">
            <input class="radio-index" value="CPU" name="radioFilter" id="radio2" type='radio' />
            <label for="radio2">CPU</label>
          </div>

          <div class="form-group">
            <input class="radio-index" value="Storage" name="radioFilter" id="radio3" type='radio' />
            <label for="radio3">Storage</label>
          </div>

          <div class="form-group">
            <input class="radio-index" value="GPU" name="radioFilter" id="radio4" type='radio' />
            <label for="radio4">GPU</label>
          </div>

          <div class="form-group">
            <input class="radio-index" value="Kit" name="radioFilter" id="radio5" type='radio' />
            <label for="radio5">Kit</label>
          </div>

          <div class="form-group">
            <input class="radio-index" value="Placa mae" name="radioFilter" id="radio6" type='radio' />
            <label for="radio6">Placa mae</label>
          </div>

        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-info">Salvar</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->

        <!--  -->
        <a href="/product/register"><i class="material-symbols-outlined" id="add-product">add_shopping_cart</i></a>

      </header>

      <section class="products-main-info">

        <article>
        <!-- Functions Index Front-end -->
        <% function priceTotal() {
            let price = 0;

            for( let index = 0; index < products.length; index++ ) {
              price += products[index].price * products[index].quantity;
            }

            return price;
        } %>

        <% function emFalta() {
          let faltando = 0;

          for( let index = 0; index < products.length; index++ ) {
            if(products[index].quantity <= 0){
              faltando++;
            }
          }

          return faltando;
        } %>

        <% function totalQuantity() {
          let qtde = 0;

          for( let index = 0; index < products.length; index++ ) {
            qtde += products[index].quantity;
          }

          return qtde;
        } %>

        <!-- Fim Functions Index Front-end -->

        <aside class="values-products-main">Em produção</aside>
        <aside class="products-main-details">Valor em estoque</aside>

        </article>
        <article>
          <aside class="values-products-main">R$ <%= priceTotal() %></aside>
          <aside class="products-main-details">Custo do estoque</aside>
        </article>
        <article>
          <aside class="values-products-main">Em produção</aside>
          <aside class="products-main-details">Previsão de lucro</aside>
        </article>
        <article>
          <aside class="values-products-main"><%= emFalta() %></aside>
          <aside class="products-main-details">Em falta</aside>
        </article>
        <!-- <article>
          <aside class="values-products-main"><%#= totalQuantity() %></aside>
          <aside class="products-main-details">Qtde em estoque</aside>
        </article> -->

      </section>

      <section class="table-products-main">
        <!--for demo wrap-->
        <h1 class="text-center my-3">Tabela de produtos</h1>

        <%- include('includes/messages') %>

          <% if (products.length> 0) { %>
            <div class="table-responsive">
              <table class="table table-dark table-striped table-hover align-middle">
                <thead class="products-thead-index">
                  <tr>
                    <th class="text-nowrap">ID<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Produto<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Categoria<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Estoque<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Preço<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Descrição<i class="material-symbols-outlined">swap_vert</i></th>
                    <th></th>
                    <!-- <td><span>Catalógo</span> <i class="material-symbols-outlined">swap_vert</i></td> -->
                  </tr>
                </thead>
                <tbody class="products-tbody-index position-relative">
                  <!-- Esse contacts é por conta que no home controller onde estou pegando os contatos na BD, estou renderizando o obj {contacts} -->
                  <% products.forEach(prod=> { %>
                    <tr>
                      <td>
                          <i class="material-symbols-outlined teste" title="Copiar ID" id="copyID">content_copy</i>
                          <p class="d-none"><%= prod._id %></p>
                      </td>
                      <td>
                        <%= prod.nameProd %>
                      </td>
                      <td>
                        <%= prod.category %>
                      </td>
                      <td class="">
                        <form method="post" action="/product/quantityProduct/<%=prod._id%>">
                          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                          <input class="w-25" type="number" min="0" max="100" step="1" value="<%= prod.quantity %>" id="my-input" readonly>
                          <button type="submit" value="-1" class="sinals" name="btnProductQtd"> - </button>
                          <button type="submit" value="1" class="sinals" name="btnProductQtd"> + </button>
                        </form>
                    </td>
                      <td><span>R$ </span>
                        <%= prod.price %>
                      </td>
                      <td class="item-description-index overflow-hidden text-nowrap"
                        style="max-width: 200px;">
                        <%= prod.description %>
                      </td>
                      <td class="text-end p-0 pe-1">
                        <a href="/product/<%=prod._id%>"><i class="material-symbols-outlined"
                            title="Editar">edit</i></a>
                        <a href="/product/delete/<%=prod._id%>"><i class="material-symbols-outlined"
                            title="Deletar">delete</i></a>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </div>
            <% } else {%>
              <div class="alert alert-primary">
                <p class="text-center lead"><strong>Nenhum produto foi cadastrado</strong></p>
              </div>
              <% } %>
                </div>
                <div class="col-lg-2"></div>

      </section>

    </main>

    <%- include('includes/footer'); %>