<%- include('includes/head'); %>
  <%- include('includes/nav') %>

    <main class="main">
      <h1>Produtos Registrados: <span style="font-style: italic;">145</span></h1>
      <section class="sidebar-header">

        <form class="search-box" action="/products/search" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <input type="text" name="searchProduct" class="search-text" id="" placeholder="Pesquisar...">
          <button class="search-btn" type="submit">
            <i class="material-symbols-outlined loupe-blue">search</i>
          </button>
        </form>
        <div class="filter_box">
          <i class="material-symbols-outlined">filter_list</i>
          <span>Filtros</span>
        </div>
        <a href="/product/register"><i class="material-symbols-outlined" id="add-product">add_shopping_cart</i></a>

      </section>

      <section class="products-main-info">

        <article>
          <aside class="values-products-main">R$ 70.216,00</aside>
          <aside class="products-main-details">Valor em estoque</aside>
        </article>
        <article>
          <aside class="values-products-main">R$ 25.958,00</aside>
          <aside class="products-main-details">Custo do estoque</aside>
        </article>
        <article>
          <aside class="values-products-main">R$ 44.258,00</aside>
          <aside class="products-main-details">Previsão de lucro</aside>
        </article>
        <article>
          <aside class="values-products-main">8</aside>
          <aside class="products-main-details">Em falta</aside>
        </article>
        <article>
          <aside class="values-products-main">2</aside>
          <aside class="products-main-details">Sem estoque</aside>
        </article>
        <article>
          <aside class="values-products-main">145</aside>
          <aside class="products-main-details">Qtde em estoque</aside>
        </article>

      </section>

      <section class="table-products-main">
        <!--for demo wrap-->
        <h1 class="text-center my-3">Tabela de produtos</h1>

        <%- include('includes/messages') %>

          <% if (products.length> 0) { %>
            <div class="table-responsive">
              <table class="table table-dark table-striped table-hover align-middle">
                <thead class="products-thead-index">
                  <tr>
                    <th class="text-nowrap">ID<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Produto<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Categoria<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Estoque<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Preço<i class="material-symbols-outlined">swap_vert</i></th>
                    <th class="text-nowrap">Descrição<i class="material-symbols-outlined">swap_vert</i></th>
                    <th></th>
                    <!-- <td><span>Catalógo</span> <i class="material-symbols-outlined">swap_vert</i></td> -->
                  </tr>
                </thead>
                <tbody class="products-tbody-index position-relative">
                  <!-- Esse contacts é por conta que no home controller onde estou pegando os contatos na BD, estou renderizando o obj {contacts} -->
                  <% products.forEach(prod=> { %>
                    <tr>
                      <td>
                        <!-- <form class="formCopy" action="../../frontend/modules/actionsButtons.js">
                          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                          </form> -->
                          <i class="material-symbols-outlined teste" title="Copiar ID" id="copyID">content_copy</i>
                          <p class="d-none"><%= prod._id %></p>
                      </td>
                      <td>
                        <%= prod.nameProd %>
                      </td>
                      <td>
                        <%= prod.category %>
                      </td>
                      <td class="">
                        <form method="post" action="/product/quantityProduct/<%=prod._id%>">
                          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                          <input class="w-25" type="number" min="0" max="100" step="1" value="<%= prod.quantity %>" id="my-input" readonly>
                          <button type="submit" value="-1" class="sinals" name="btnProductQtd"> - </button>
                          <button type="submit" value="1" class="sinals" name="btnProductQtd"> + </button>
                        </form>
                    </td>
                      <td><span>R$ </span>
                        <%= prod.price %>
                      </td>
                      <td class="item-description-index overflow-hidden text-nowrap"
                        style="max-width: 200px;">
                        <%= prod.description %>
                      </td>
                      <td class="text-end p-0 pe-1">
                        <a href="/product/<%=prod._id%>"><i class="material-symbols-outlined"
                            title="Editar">edit</i></a>
                        <a href="/product/delete/<%=prod._id%>"><i class="material-symbols-outlined"
                            title="Deletar">delete</i></a>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </div>
            <% } else {%>
              <div class="alert alert-primary">
                <p class="text-center lead"><strong>Nenhum produto foi cadastrado</strong></p>
              </div>
              <% } %>
                </div>
                <div class="col-lg-2"></div>

      </section>

    </main>

    <%- include('includes/footer'); %>